@import "tailwindcss";

body {
  background-color: var(--color-zinc-50);
  color: var(--color-zinc-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-zinc-900);
    color: var(--color-zinc-100);
  }
}

/* Custom scrollbar for facet list */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-zinc-200);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-zinc-300);
}

@media (prefers-color-scheme: dark) {
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-zinc-700);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-zinc-600);
  }
}